{% extends 'LoicCMSBundle::layout.html.twig' %}
{% form_theme edit_form 'bootstrap_3_layout.html.twig' %}

{% block container %}
    <h1>Editer un article</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Valider" class="btn btn-success"/>
    {{ form_end(edit_form) }}
    <hr>
    {% if versioning %}
        <div>
            <h4>Revenir à une ancienne version</h4>
            <ul>
                {% for log in logs %}
                    <li><a href="{{ path('advert_revert', {'advert': advert.id, 'version': log.version }) }}">Version ({{ log.version }}) du : {{ log.loggedAt.date }}</a></li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    {{ form_start(delete_form) }}
    <a href="{{ path('advert_index') }}" class="btn btn-default" type="button">Retour à la liste</a>
        <input type="submit" value="Delete" class="btn btn-danger">
    {{ form_end(delete_form) }}

{% endblock %}
